*{
    margin:0;
}


body{
    font-family: 'Poppins', sans-serif;
}
span{
    color:#ca0aa1;
}
h1{
    font-size: 50px;
    margin-top:10px;
}
.flexible-container{
    display: flex;
}

.half-width{
    width:50%;
    padding-left: 2%;;
}
.half-width img{
    width:70%;
    margin-left: 50px;
}
p{
    margin-bottom: 40px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient( orange, red);
    padding:10px 35px;
    color:white;
    font-weight: 750;
    border-radius: 5px;
   
}
.top-portion{
    background-image: url(images/Frame\ 58.jpg);
}
.about-us{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.about{
    margin-top:100px;
}
.img{
    width:70%;
    height:400px;
}
.headline{
    text-align: center;
    color:coral;
}

.one-third{
    width:28%;
    margin-left:2%;
    margin-right: 2%;
    box-shadow: 5px 5px 10px black;
    padding-left:10px;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 20px;
}
.one-third img{
    border-radius: 7px;
    text-align:center;
}

.footer{
    text-align:center;
    background-color:black;
    color:white;
    padding:10px 0px;

}